@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('img/contact-us-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .navbar {
      background-color: #ffffff;
      padding: 10px;
  }
  
  .navbar img {
    margin-left: 30px;
    height: 50px;
    width: auto;
  }
  
  .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 20px;
      float: right;
  }
  
  .navbar li {
      display: inline-block;
      margin-left: 10px;
    font-weight: bold;
  }
  
  .navbar ul li:last-child {
    margin-left: -10px;
    vertical-align: middle;
  }
  
  .navbar a {
      display: block;
      padding: 10px;
      color: #000000;
      text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.2s ease-in-out;
  }

  .navbar a:hover {
    transform: scale(1.1);
  }
  
  .navbar img.fb-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  
  .popup{
    width: 450px;
    height: 450px;
    background: #ffffff;
    opacity: 0.95;
    border-radius: 40px;
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    padding: 0 30px 30px;
    color: hsl(0, 0%, 20%);
    font-family: "Montserrat", sans-serif;
    line-height: 20px;
  }

  .popup h2{
    font-size: 30px;
  }

  .popup img{
    width: 120px;
    margin-top: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }
  .popup button{
    width: 100px;
    margin-top: 90px;
    padding: 10px 0;
    background:gray;
    color:#ffffff;
    border: 0;
    outline: none;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
  }

  .popup button:hover {
    background-color: #555;
  }


  @media (min-width: 601px) and (max-width: 1024px) {
    .navbar li {
      margin-left: 20px;
    }
  }
  
  @media (max-width: 600px) {
    .navbar{
      height: 55px;
    }
  
    .logo{
      display: none;
    }
  
    .navbar ul {
      padding: 0;
      float: none;
    }
    
    .navbar li {
      margin: 20px 0;
    }
  
    .navbar ul li:last-child {
      margin-left: 38%;
    }
  
  }
  
  
  @media (max-width: 420px) {
    .navbar ul li:last-child {
      margin-left: 15%;
    }
  
  }

  
  @media (max-width: 768px) {
    .popup{
      width: 70%;
      height: 60%;
      font-size: 14px;
      border-radius: 20px;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .popup h2{
      font-size: 24px;
    }
  
    .popup p{
      font-size: 12px;
      margin: 5px 20px;
    }
  
    .popup img{
      width: 100px;
      margin-top: 30px;
    }
  
  }